:root {
    --white: #fff; 
    --black: #000; 
    --orange: #FF6000; 
    --gray:  #708090; 
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem; 
}

h1 {
    font-size: 3rem;
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 2rem;
    line-height: 2;
}

/*header*/

.header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
}

.header__image {
    width: 20rem;
    margin-bottom: 1rem;
}

/*card*/

.card {
    margin: 5rem auto;
    height: auto;
    width: 65%;
    padding: 2rem 5rem;
    box-shadow: 0px 0px 7px 4px rgba(196,102,39,0.7);
    border-radius: 5rem; 
}

.card__text-autor {
    text-align: end;
    color: var(--gray)
}

.boton {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 5rem;
    border: none;
    cursor: pointer;
    color: var(--orange); 
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    border: 2px solid var(--orange); 
}

.boton:hover {
    box-shadow: 0px 0px 7px 4px rgba(196,102,39,0.7);
}
