@use '../base/mixins' as m;
@use '../base/variables' as v; 

.form {
    margin-top: 5rem;

    .field {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        
        label {
            flex: 0 0 10rem;
        }
    
        input {
            flex: 1;
            padding: 1rem;
            background-color: lighten(v.$gris, 40%);
        }
    }
}