@use '../base/mixins' as m;
@use '../base/variables' as v;  

.modal{
    position: absolute;
    background-color: rgb(0 0 0 / .5);
    padding: 0 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0.3rem);

    
    .form {
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        border-radius: 0.5rem;
        transform: translateY(-30rem);
        opacity: 0;

        transition: transform 0.3s, opacity 0.4s;

        &.animar {
            opacity: 1;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &.close {
            transform: translateY(-300%);
            opacity: 0;
        }

        legend {
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: bold;
            color: v.$indigo;
        }

        .options {
            display: flex;
            column-gap: 2rem;

            .submit-new-task {
                @include m.boton(v.$indigo, v.$blanco);
            }

            .close-modal {
                @include m.boton(v.$naranja, v.$blanco);
            }
        }

        .alert {
            padding: 1px 0.5rem;
        }

        input:not([type="submit"]), textarea {
            flex: 1;
            padding: 1rem;
            background-color: lighten(v.$gris, 45%);
        }
    }
}