@use '../base/variables' as v; 
@use '../base/mixins' as m;

.sidebar {
    background-color: v.$indigo;
    padding: 2rem;
    h2 {
        color:v.$blanco;
        margin: 0;
        text-align: center;
    }

    .sidebar-nav {
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block;
            padding: 0.7rem;
            margin-bottom: 1.5rem;
            transition: background-color 300ms;

            &:hover, &.activo {
                background-color: darken(v.$indigo, 20%);
                border-radius: 0.5rem;
            }
        }
    }
}