@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-radius: 0.8rem;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin container {
    width: min(95%, 120rem);
    margin: 0 auto; 
}

@mixin container-sm {
    width: min(80%, 60rem);
    margin: 0 auto; 
}

@mixin container-md {
    width: min(80%, 80rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$fuente_principal;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin page-name{
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin flowing-text($min, $max){
    font-size: clamp($min, 8vw ,$max);
}

@mixin gradient-text($inicio, $final){
    background: linear-gradient(to right, $inicio, $final);
    background-clip: text;
    color: transparent;
}

@mixin logo {
    color: v.$blanco;
    text-align: center;
    
    @include tablet {
        text-align: left;
        margin: 0;
    }
}

@mixin enlace {
    color: v.$blanco;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s;
    background-color: transparent;
    border: none;

    &:hover {
        color: v.$azul;
        cursor: pointer;
    }
}

@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin menu-socialMedia($color, $size){

    &__link {
        &::before{
            color: $color; 
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialised; 
            font-family: "Font Awesome 6 Brands";
            transition: transform 0.1s;
        }

        &:hover::before {
            color: darken(v.$azul, 20); 
            transform: scale(1.2);
        }

        &:nth-of-type(1)::before{
            content: "\f39e";
        }
        &:nth-of-type(2)::before {
            content: "\f099";
        }
        
        &:nth-of-type(3):before {
            content: "\f167";
        }

        &:nth-of-type(4):before {
            content: "\f16d";
        }

        &:nth-of-type(5)::before {
            content: "\e07b";
        }

    }

    &__ocultar {
        display: none;
    } 
}

