@use '../base/variables' as v;
@use '../base/mixins' as m;

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;

    a {
        display: block;
        color: v.$blanco;
    }
}