@use '../base/mixins' as m;
@use '../base/variables' as v;

.form {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 0 5rem;
}

.field {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin-bottom: 2rem;

    input {
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
    }
}