@use '../base/mixins' as m;
@use '../base/variables' as v; 

.tabs {
    margin-bottom: 3rem;

    @include m.tablet {
        display: flex;
    }

    button, a {
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: darken(v.$azul, 10%);
        }

        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }


}