@use 'base/variables' as v; 
@use 'base/mixins' as m;


.form {
    border-radius: 1em;
    padding: 2rem;
    margin-bottom: 5rem;
    box-shadow: 2px 5px 16px 2px rgba(0,0,0,0.25);
    
    
    p {
        font-size: 1.4rem;
        margin: 0 0 1rem 0;
        color: v.$grisOscuro;

        &.error {
            color: v.$amarillo;
            margin: 0;
        }
    }
    
    legend {
        display: block;
        font-size: 2.8rem;
        font-weight: normal;
    }
    
    label {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    input:not([type="submit"]), select, textarea {
        display: block;
        padding: 1rem 2rem;
        border-radius: 1rem;
        width: 100%;
        border: 1px solid v.$gris;
        margin: 0.5rem 0;
    }
    
    input:not([type="submit"]):focus, select:focus, textarea:focus {
        border: 1px solid v.$amarillo;
    }
    
    textarea {
        height: 10rem;
        resize: none;
    }
    
    
    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            margin: 0;
            width: auto;
        }
    }    
}

.submit {
    display: flex;
    justify-content: end;
    margin: 0 1.5rem 1rem 0;
}