@use 'base/variables' as v; 
@use 'base/mixins' as m;

.bar {
    background-color: v.$azul;
    &__content {
        @include m.container; 
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        @include m.logo; 
        @include m.flowing-text(2rem, 3rem);
        h2 {
            margin: 0;
        }
    }
}