@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

input {
    border: none;
    outline-color: v.$naranja;
}

.aling-right {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.error {
    color: v.$rojo; 
    font-size: 1.5rem;
    font-weight: bold;
}
.exito {
    color: v.$verde; 
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea {
    border: none;
    resize: none;
    outline-color: v.$naranja;
    padding: 1rem;
}
