@use '../base/variables' as v; 
@use '../base/mixins' as m;

.crear {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$morado);
    }

    input[type="submit"] {
        @include m.boton(v.$morado, v.$blanco);
    }

    .actions a {
        color: v.$morado; 

        &:hover {
            color: darken(v.$morado, 10%);
        }
    }
}