@use '../base/mixins' as m;
@use '../base/variables' as v; 

.olvide {
    margin-top: 5rem;

    .uptask {
        @include m.textoDegradado(v.$rosa);
    }

    input[type="submit"] {
        @include m.boton(v.$rosa, v.$blanco);
    }

    .actions a {
        color: v.$rosa; 

        &:hover {
            color: darken(v.$rosa, 10%);
        }
    }
}