@use 'base/variables' as v; 
@use 'base/mixins' as m;

.agenda {
    padding-bottom: 5rem;
    @include m.container; 

}

.eventos {
    $modificador: &;
    &__heading{
        color: v.$azul;
        margin: 3rem 0;
        text-align: left;
        @include m.flowing-text(2rem, 4rem);
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }

    &--workshops {
        #{$modificador}__heading {
            color: darken(v.$secundario, 10);
        }

        .evento__informacion{
            background-color: darken(v.$secundario, 10);

            &:hover {
            background-color: darken(v.$secundario, 15);
            }
        }
    }

    .swiper-button-next, .swiper-button-prev {
        color: rgba(v.$blanco, 0.5);
    }
}

.evento {
    &__hora {
        font-weight: bold;
    }

    &__nombre {
        font-weight: bold;
        font-size: 2rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__informacion {
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: background-color 0.2s;
        &:hover {
            background-color: darken(v.$azul, 10);
        }
    }

    &__introduccion {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
        @include m.tablet {
            -webkit-line-clamp: 2;
        }

    }

    &__autor-info {
        display: flex;
        gap: 2rem; 
        justify-content: space-between; 
        align-items: center;

    }

    &__imagen-autor {
        width: 5rem;
        background-color: v.$blanco;
        border-radius: 50%;
    }

    &__autor-nombre{
        font-weight: bold;   
    }

}