@use 'base/variables' as v; 
@use 'base/mixins' as m;

.icons-aboutUs {
    @include m.tablet {
        @include m.grid(3, 2rem);         
    }
}

.icon {
    img {
        height: 10rem;
        margin: 0 auto;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        text-align: center;
    }
}